<div class="question" [formGroup]="question">
    <label>Question</label>
    <input type="text" formControlName="label" required>
    <div *ngFor="let proposition of propositions.controls; let i = index">
        <app-proposition-component
            [proposition]="getProposition(i)"
            [index]="i + 1"
            [QuestionId]="index"
            (removePropositionEvent)="removePropositionEvent(i)">
        </app-proposition-component>
    </div>

    <div class="flex">
        <button type="button" (click)="addPropositionEvent()" class="add">Ajouter une proposition</button>
        <button type="button" (click)="removeQuestionEvent()" class="suppr">Supprimer une question</button>
    </div>
</div>
