<div class="question">
    <label>Question</label>
    <input name="questions[]" type="text" required>
    <app-proposition-component *ngFor="let proposition of propositions; let i = index" [QuestionId]="QuestionId"
                               (removePropositionEvent)="removeProposition(i)" [index]="i"></app-proposition-component>
    <div class="flex">
        <button type="button" (click)="addProposition()" class="add">Ajouter une proposition</button>
        <button type="button" (click)="removeQuestion(QuestionId)" class="suppr">Supprimer une question</button>
    </div>
</div>

